@font-face {
  font-family: 'Avenir-Light';
  src: url('../font/Avenir-Light.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Book';
  src: url('./styles/common/font/Avenir-Book.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Roman';
  src: url('./styles/common/font/Avenir-Roman.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Medium';
  src: url('./styles/common/font/Avenir-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Heavy';
  src: url('./styles/common/font/Avenir-Heavy.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Black';
  src: url('./styles/common/font/Avenir-Black.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Inter-Regular';
  src: url('./styles/common/font/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Bold';
  src: url('./styles/common/font/Inter-Bold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

