// primary
$primary: #844AFF;
$purple-light: #E3D6FF;
$purple-lighter: #F8F5FF;
$purple-lighterer: #FCFAFF;

// other
$red: #B81C1C;
$orange: #FB6F33;
$yellow: #FFB800;
$blue: #3B81F5;

// classic
$black: #10002B;
$white: #FFFFFF;
$grey: #716387;
$grey-light: #E5E0EE;
$grey-lighter: #F5F2F8;
$background: #FAF6FE;
