$primary: #844AFF;
$purple_light: #E3D6FF;
$purple_lighter: #F8F5FF;
$purple_lighterer: #FCFAFF;
$black: #10002B;
$white: #FFFFFF;
$grey: #716387;
$grey_light: #E5E0EE;
$grey_lighter: #F5F2F8;
$background: #FAF6FE;
$red: #B81C1C;
$orange: #FB6F33;
$yellow: #FFB800;
$blue: #3B81F5;